pusher:
  app_id: ${PUSHER_APP_ID}
  key: ${PUSHER_KEY}
  secret: ${PUSHER_SECRET}
  cluster: ${PUSHER_CLUSTER} 
  secure: true

monitor-config:
  state: "California"
  city: "Los Angeles"
  municipality: "Los Angeles"
  parish: "Echo Park"
  monitor-id: "1234"
  ticker: "2m"
  lat: 34.056240
  long: -118.283530
